@import '../../variables';

.exchange-component {
    h1 {
        // color: #333;
        // text-align: center;
    }

    .exchange-list {
        height: 150px; // Hauteur fixe pour afficher seulement 4 éléments
        overflow-y: hidden; // Activer le défilement vertical
        list-style: none;
        padding: 0;
        margin-top: 10px;

        li {
            padding: 5px;
            border-bottom: 1px solid #ddd;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    p {
        color: #cc5555;
        text-align: center;
    }
}
