@import '../../variables';

.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // margin: 0;
    padding: $p;
    border: $b;
    border-radius: $b-radius;
    background-color: $bg-color;
    box-shadow: $shadow;
    text-align: center;
    background-size: cover; 
    background-position: center;
    // height: 35vh;
    .firstBlock {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60%;
        .ville, .temp, .info {
            // font-size: 30px;
            font-weight: bold;
            color: #333;
            border: 1px solid #ddd;
            border-radius: $b-radius;
            background-color: $bg-color;
            box-shadow: $shadow;
            // padding: 0;
            // margin: 20px 0;
            width: 30%;
            height: 100%;
            overflow: hidden;
            h1 {
                margin: 0;
                color: #333;
                font-size: 24px;
            }
            p {
                margin: 10px 0;
               
                font-size: 18px;
            }
            .weather-icon {
                width: 100px; /* Largeur de l'icône */
                height: 100px; /* Hauteur de l'icône */
            }            
        }
    }
    .weekly-forecast {
        height: 35%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}