@import '../../variables';

.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-size: cover; 
    background-position: center;
}

.weather h1 {
    margin: 0;
    color: #333;
    font-size: 24px;
}

.weather p {
    margin: 10px 0;
   
    font-size: 18px;
}
.ville, .temp, .info {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgba(249, 249, 249, 0.5); /* Semi-transparent */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 20px 0;
    width: 25%;
}
.weather-icon {
    width: 100px; /* Largeur de l'icône */
    height: 100px; /* Hauteur de l'icône */
  }
.firstBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.weekly-forecast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}