.weather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.weather h1 {
    margin: 0;
    color: #333;
    font-size: 24px;
}

.weather p {
    margin: 10px 0;
    color: #666;
    font-size: 18px;
}
.ville {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 15px;
    margin: 20px 0;
    width: 25%;
}
.temp {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 15px;
    margin: 20px 0;
    width: 25%;

}
.info {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 15px;
    margin: 20px 0;
    width: 25%;

}