.contact-form-container {
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
  min-height: 100vh; // Hauteur complète de la fenêtre de visualisation
  padding: 1rem;
  background-color: #f4f4f4; // Couleur d'arrière-plan

  form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; // Largeur maximale du formulaire

    .form-group {
      margin-bottom: 1rem;

      label {
        font-size: 1rem;
        color: #333;
        margin-bottom: 0.5rem;
      }

      .form-control {
        padding: 0.75rem;
        border: 2px solid #ddd;
        border-radius: 0.5rem; // Bordures arrondies pour les champs

        &:focus {
          border-color: #007bff;
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
      }

      textarea.form-control {
        height: 150px; // Hauteur fixe pour la zone de texte
      }
    }

    .btn-primary {
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: 0.5rem;
      background-color: #007bff;
      color: #fff;
      font-size: 1rem;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
  .message {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    color: white;

    &.success {
      background-color: #28a745; // Vert pour le succès
    }

    &.error {
      background-color: #dc3545; // Rouge pour l'erreur
    }
  }
}
