@import '../../variables';

.market-stack {
    font-family: Arial, sans-serif;
    text-align: center;
   
    p {
      // background-color: white;
      // padding: 10px;
      // border-radius: 5px;
      // margin: 10px 0;
      &.dynamic {
        animation: colorChange 5s infinite;
      }
      .up {
        color: green;
      }
    
      .down {
        color: red;
      }
    }
  
    @keyframes colorChange {
      0% { background-color: white; }
      50% { background-color: #eef2f7; }
      100% { background-color: white; }
    }
}
  