// Déclaration des variables
$b-radius: 10px;
$shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$b: 1px solid #ddd;
$bg-color: rgba(249, 249, 249, 0.5); // Semi-transparent
$p: 1em;

.population {
  // border: 1px solid red;
  padding: 0.5em;
  color: #ffffff;
  font-family: 'Dancing Script', cursive;
  .communes-list {
    padding: $p;
    margin-top: $p;
    background-color: rgb(159 197 197 / 41%);
    border-radius: $b-radius;
    box-shadow: $shadow;
  }
}