@import '../../variables';

.population {
  // border: 1px solid red;
  padding: 0.5em;
  color: #ffffff;
  font-family: $f-art;
  .card {
    h3 {
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }
  }
}