@import '../../variables';

.population {
  // border: 1px solid red;
  padding: 0.5em;
  color: #ffffff;
  font-family: 'Dancing Script', cursive;
  .communes-list {
    padding: $p;
    margin-top: $p;
    // height: 100px;
    background-color: rgb(159 197 197 / 41%);
    border-radius: $b-radius;
    box-shadow: $shadow;
  }
}