.google-map-container {
    display: flex;
    justify-content: space-around; /* Répartit les éléments uniformément avec de l'espace autour */
    align-items: center; /* Aligner les éléments verticalement au centre */
  }
  
  .right, .left {
    flex: 1; /* Les divs de population prennent de l'espace équitablement */
  }
  
  .map {
    flex: 2; /* La carte prend plus d'espace */
  }
  
 

      