// Déclaration des variables
$b-radius: 10px;
$shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$b: 1px solid #ddd;
$bg-color: rgba(249, 249, 249, 0.5); // Semi-transparent

// Réinitialisation des styles de base
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Styles pour le composant App
.App {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 350px;
    margin: 3em 0;
    padding: 2em 1em;
    background-image: url('../../assets/images/sun.jpg');
    background-size: cover; // Assurer que l'image de fond couvre tout l'espace
    background-repeat: no-repeat;
    border-radius: $b-radius;
    box-shadow: $shadow;

    .c-item {
      width: 30%;
      height: 95%;
      border: $b;
      background-color: $bg-color;
      border-radius: $b-radius;
      box-shadow: $shadow;

      
    }
  }
}

// Styles pour la carte Leaflet (si utilisée)
.map-container {
  width: 100%;
  height: 100%;

  .map {
    width: 100%;
    height: 100%;
    border-radius: $b-radius; 
  }
}
