@import '../../variables';

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 $p !important;
  background-color: $bg-nav;
  box-shadow: $shadow;
  border-bottom-left-radius: $b-radius;
  border-bottom-right-radius: $b-radius;

  .nav-l, .nav-r {
    display: flex;
    flex-direction: row;
    align-items: center;
    .nav-logo {
      font-family: $f-art;
      font-size: 1.5em;
      color: rgb(20, 19, 19);
      margin-left: $p;
    }
  }
}

.logo{
  display: flex;
  flex-direction: row;
}
.frame {
  width: 35px; 
  height: 35px; 
  border: 1px solid #ccc; 
  overflow: hidden; 
  border-radius: 50px;
}
.navbar img {
  width: 35px; 
  height: 35px;
  border-radius: 30px;
}
.frame iframe {
  width: 100%; /* Remplir complètement la largeur de la div parente */
  height: 100%; /* Remplir complètement la hauteur de la div parente */
}

.navbar .nav-r a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.navbar .nav-r a:hover {
  color: #007bff;
}

.navbar .search {
  display: flex;
  align-items: center;
}

.navbar input[type="text"] {
  padding: 5px $p;
  width: 200px;
  margin: 0 1em 0 2em;
  border-radius: $b-radius;
  border: 1px solid rgb(255 255 255 / 49%);
  background-color: rgb(111 175 175 / 79%);
  &:focus {
      outline: 1px solid rgba(255, 255, 255, 0.603);
  }
  &::placeholder {
      color: rgba(240, 236, 236, 0.979);
      font-style: italic;
  }
}

.navbar button {
  padding: 5px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: $bg-nav;
}


@media screen and (max-width: $lg) {
  nav {
    width: 100vw;
    padding: 0 $p !important;
    .nav-logo, .nav-r .links {
      display: none;
    }
  }
}