@import '../../variables';
       
.image-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 $p;
  border: $b;
  border-radius: $b-radius;
  // box-shadow: $shadow;
  // background-color: $bg-color;
  // background-image: url('../../assets/images/sun.jpg');

  img {
    height: 100%;
    width: calc(33.333% - 1rem);
    border: $b;
    border-radius: $b-radius;
    box-shadow: $shadow;
    transition: transform 0.3s ease-in-out; /* Animation pour le survol */
    &:hover {
      transform: scale(1.05); /* Agrandir légèrement l'image au survol */
      cursor: pointer; /* Changer le curseur au survol */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
    }
  }
}