$b-radius: 10px;
$shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$b: 1px solid #ddd;
$bg-color: rgba(249, 249, 249, 0.5); /* Semi-transparent */
$p: 1em;

.App {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    margin: 2em 0;
    padding: $p;
    background-image: url('./assets/images/sun.jpg');
    background-repeat: no-repeat;
    background-size: cover; // Assurer que l'image de fond couvre tout l'espace
    border-radius: $b-radius;
    box-shadow: $shadow;
  }
}