@import './variables';

.App {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    margin: 2em 0;
    padding: $p;
    background-image: url('./assets/images/sun.jpg');
    background-repeat: no-repeat;
    background-size: cover; // Assurer que l'image de fond couvre tout l'espace
    border-radius: $b-radius;
    box-shadow: $shadow;
  }
}