#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ajustez en fonction de vos besoins */
  align-items: center;
  max-width: 1100px;
  max-height: 120vh;
  margin: 20px auto;
  padding: 2rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: white;
}

.logo {
  /* height: 6em;
  padding: 1.5em; */
}

/* Le reste de votre CSS pour .logo et animations */

.card {
  padding: 2em;
  background: #f0f0f0; /* Fond de la carte, ajustez la couleur selon vos besoins */
  border-radius: 10px; /* Coins arrondis pour la carte */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre douce pour la carte */
  margin-bottom: 1em; /* Espace entre les cartes */
}

/* Le reste de votre CSS */
.content {
  display: flex;
  flex-direction: row; /* Ou column, selon le layout souhaité */
  justify-content: center;
  align-items: center;
  /* Ajoutez d'autres styles si nécessaire */
}