#root {
  max-width: 1200px;
  max-height: 100vh;
  margin: 20px auto; /* Ajout d'une marge autour du cadre pour ne pas coller aux bords de l'écran */
  padding: 2rem;
  text-align: center;
  border-radius: 20px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Ombre extérieure */
              0 10px 20px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée pour donner de la profondeur */
  overflow: hidden; /* Assure que tout le contenu interne est contenu dans les coins arrondis */
  background: white; /* Fond blanc pour le cadre, remplacez par une couleur de votre choix */
}

.logo {
  /* height: 6em;
  padding: 1.5em; */
}

/* Le reste de votre CSS pour .logo et animations */

.card {
  padding: 2em;
  background: #f0f0f0; /* Fond de la carte, ajustez la couleur selon vos besoins */
  border-radius: 10px; /* Coins arrondis pour la carte */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre douce pour la carte */
  margin-bottom: 1em; /* Espace entre les cartes */
}

/* Le reste de votre CSS */
