@import './variables';

.App {
  height: 100%;
  nav {
    height: 4vh;
  }
  .weather {
    height: 25vh;
  }
  .content {
    height: 43vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: $p 0;
    padding: $p 0;
    // background-image: url('./assets/images/sun.jpg');
    background-repeat: no-repeat;
    background-size: cover; // Assurer que l'image de fond couvre tout l'espace
    border-radius: $b-radius;
    // box-shadow: $shadow;
    
    .c-col {
      width: 24%;
      height: calc(100% - $p);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      &.map {
        width: 48%;
        border: $b;
        border-radius: $b-radius;
        box-shadow: $shadow;
      }
      .c-item {
        height: 48%;
        background-color: $bg-color;
        border-radius: $b-radius;
        box-shadow: $shadow;
        //background-image: url('./assets/images/sun.jpg');
      }
    }
  }
  .unsplash {
    height: 15vh;
  }
  .footer {
    height: 5vh;
    width: $w;
    position: absolute;
    bottom: 0;
    // background-color: $bg-color;
    background-color: rgb(107 150 201 / 50%);
    border-radius: $b-radius;
    box-shadow: $shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $f-art;
  }
}