@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100svh;
  width: 100vw;
  background-color: #ddd;
  // background-color: #221e1e;
  overflow-y: hidden;
  position: relative;
}

#root {
  width: 100%;
  // max-height: 100%;
}


/* Styles for screens bigger than 600 pixels wide */
@media screen and (min-width: $lg) {
  body {
    #root {
      width: $w;
      margin: 0 auto;
      background-color: lightblue;
      footer {
        width: $w;
      }
    }
  }
}


// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }