@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  padding: 0;
  margin: 0;
}

body {
  height: 100svh;
  width: 100vw !important;
  background-color: #ddd;
  overflow-y: hidden;
  position: relative;
}

#root {
  width: 100%;
  // max-height: 100%;
}

/* Styles for screens bigger FullHd 1080P */
@media screen and (min-width: $lg) and (max-width: xl)  {
  body {
    font-size: 0.7em !important;
    // line-height: 0.8em !important;
    // background-color: aqua;
    #root {
      width: $w;
      margin: 0 auto;
      footer {
        width: $w;
      }
    }
  }
}

@media screen and (min-width: 1921px) {
  body {
    #root {
      width: 1200px;
      margin: 0 auto;
      footer {
        width: 1200px;
      }
    }
  }
}


// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }